<log4net>
	<!--跟踪日志配置-->
	<appender name="TraceLogFileAppender" type="log4net.Appender.RollingFileAppender">
		<param name="File" type=""  value="App_log\\" />
		<param name="AppendToFile" value="true" />
		<param name="MaxSizeRollBackups" value="10"/>
		<param name="RollingStyle" value="Date" />
		<param name="DatePattern" value="yyyy-MM-dd'.log'" />
		<param name="StaticLogFileName" value="false" />
		<layout type="log4net.Layout.PatternLayout,log4net">
			<param name="ConversionPattern" value="%d  [%5p] %c: %m%n" />
		</layout>
		<filter type="log4net.Filter.LevelRangeFilter,log4net">
			<levelMin value="DEBUG" />
			<levelMax value="WARN" />
		</filter>
	</appender>
	<!--错误日志配置-->
	<appender name="ErrorLogFileAppender" type="log4net.Appender.RollingFileAppender">
		<file value="App_log\\Error\\" />
		<MaxSizeRollBackups value="20" />
		<StaticLogFileName value="false" />
		<DatePattern value="yyyy-MM-dd'.log'" />
		<RollingStyle value="Composite" />
		<MaximumFileSize  value="10MB"/>
		<appendToFile value="true" />
		<layout type="log4net.Layout.PatternLayout">
			<header value="[BEGIN LOGGING AT %date]%newline" type="log4net.Util.PatternString" />
			<footer value="[END LOGGING AT %date]%newline%newline" type="log4net.Util.PatternString" />
			<ConversionPattern value="%d [%t] %-5p %c : [行号:%-5L] %m%n" />
		</layout>
		<filter type="log4net.Filter.LevelRangeFilter,log4net">
			<levelMin value="WARN" />
			<levelMax value="FATAL" />
		</filter>
	</appender>
	<!--测试日志配置-->
	<appender name="TestLogAppender" type="log4net.Appender.RollingFileAppender">
		<file value="App_log\\Test\\" />
		<MaxSizeRollBackups value="20" />
		<StaticLogFileName value="false" />
		<DatePattern value="yyyy-MM-dd'.log'" />
		<RollingStyle value="Date" />
		<MaximumFileSize  value="10MB"/>
		<appendToFile value="true" />
		<layout type="log4net.Layout.PatternLayout">
			<header value="[BEGIN LOGGING AT %date]%newline" type="log4net.Util.PatternString" />
			<footer value="[END LOGGING AT %date]%newline%newline" type="log4net.Util.PatternString" />
			<ConversionPattern value="%d [%t] %-5p %c : [行号:%-5L] %m%n" />
		</layout>
		<filter type="log4net.Filter.LevelRangeFilter,log4net">
			<levelMin value="DEBUG" />
			<levelMax value="FATAL" />
		</filter>
	</appender>
	<root>
		<!--控制级别，由低到高: ALL|DEBUG|INFO|WARN|ERROR|FATAL|OFF-->
		<level value="ALL" />
		<appender-ref ref="ErrorLogFileAppender" />
		<appender-ref ref="TraceLogFileAppender" />
	</root>
	<logger name="Test" >
		<!--control log level: ALL|DEBUG|INFO|WARN|ERROR|FATAL|OFF-->
		<!--如果没有定义LEVEL的值，则缺省为DEBUG-->
		<level value="ALL" />
		<appender-ref ref="TestLogAppender"></appender-ref>
	</logger>
	<logger name="ALL" >
		<!--control log level: ALL|DEBUG|INFO|WARN|ERROR|FATAL|OFF-->
		<!--如果没有定义LEVEL的值，则缺省为DEBUG-->
		<level value="ALL" />
		<appender-ref ref="ErrorLogFileAppender"></appender-ref>
		<appender-ref ref="TraceLogFileAppender"></appender-ref>
	</logger>
</log4net>